# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.orig
.spyproject
.vscode
__pycache__
ninja_*
*.grb
/axxteq
*.log
*.ipynb
config.py
.env
.venv
crawler/data/Waermebedarf_NRW.gdb/
data/pgadmin
/dashboard/node_modules