# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

requests
pygrib
shapely
pyshp
pandas
numpy
psycopg2-binary
sqlalchemy
tqdm
lxml
bs4
json5
geopandas
openpyxl
scipy
python-dateutil
entsoe-py
swifter
jao-py
cdsapi
cfgrib
eccodes
roiti.gie