# SPDX-FileCopyrightText: Florian Maurer, Christian Rieke
#
# SPDX-License-Identifier: AGPL-3.0-or-later

requests
pygrib
shapely
pyshp
pandas
numpy
psycopg2-binary
sqlalchemy
geoalchemy2
tqdm
lxml
bs4
json5
geopandas
openpyxl
scipy
python-dateutil
entsoe-py
swifter
cdsapi
cfgrib
eccodes
pyarrow
git+https://github.com/maurerle/roiti-gie@maurerle
git+https://github.com/maurerle/jao-py@improve_horizon_support
