.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.select-container select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.select-container select:focus {
  border-color: #007bff;
  outline: none;
}

.select-container option {
  padding: 8px;
  margin: 5px;
  background: white;
  color: #333;
}

.select-container option:hover {
  background-color: #f2f2f2;
}

.select-container {
  display: flex;
  padding: 5px;
}

.loading-container {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #666;
}


.top-header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}


.button {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  z-index: 1000000;
  margin: 0px 0px 0px 20px;
  width: 120px;
  height: 40px;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .App-header div {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .App-header h1 {
    margin: 0px;
    width: 100%;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
  }

}