.section {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.details-container {
    height: 500px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 5px;
}

.chart-container {
    width: '100%';
    height: '300px';
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.cards-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.cards {
    display: inline-flex;
    gap: 10px;
}

.card {
    width: 200px;
    height: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    flex-shrink: 0;
}

.metadata-table {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.metadata-table td,
.metadata-table th {
    border: 1px solid #ccc;
    padding: 8px;
    max-width: 200px;
    word-wrap: break-word;
}

.metadata-table td:first-child {
    width: 25%;
}

.metadata-table td:last-child {
    width: 75%;
}

.custom-tooltip {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.custom-tooltip .label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-tooltip ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-tooltip li {
    font-size: 12px;
    color: #333;
}

.loading-container {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
}