.section {
    padding: 0px 0px 10px 0px;
    text-align: center;
}
.cards-section {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

.detail-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-map {
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.chart-container {
    display: flex;
    margin: 2px 0;

    width: 60vw;
}

.metadata-table {
    width: 40vw;
    word-break: break-all;
}

.map-container {
    flex-grow: 1;
}
.search-container {

}


.search-container input,
.search-container button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background-color: #007bff;
    color: white;
}

.search-container button:hover {
    background-color: #0056b3;
}

.cards-container {
    overflow-x: auto;
    white-space: nowrap;
}

.cards {
    padding: 5px;
    display: inline-flex;
    gap: 10px;
}
.custom-tooltip{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #333;
}
.hover-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card {
    width: 160px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    flex-shrink: 0;
}

.card.selected {
    background-color: #007bff;
    color: white;
}

.metadata-table td,
.metadata-table th {
    border: 1px solid #ccc;
}

.metadata-table td:first-child {
    width: 100px;
}

.metadata-table td:last-child {
    width: 200px;
}


.loading-container {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
}

@media (max-width: 700px) {

    .table-map {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    .chart-container {
        display: flex;
        align-self: center;
        width: 92%;

    }

    .metadata-table {
        width: 95vw;
        align-self: center;
    }

}